\.vscode/

\.DS_Store

__pycache__

*/__pycache__/*

**/__pycache__/*

.notipy.json

.single_run

.coverage*

coverage.xml
htmlcov
.ipynb_checkpoints
.pytest_cache
sanitize_ml_labels.egg-info
build/
test_readme.py
dist/
